@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lora:ital@1&family=Rubik+Distressed&family=Satisfy&family=Sono:wght@600&display=swap"); /*
Fonts:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Rubik Distressed', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Sono', sans-serif;
*/
:root {
  --bgc1: #343a40;
  --bgc2: #0f172a;
  --main-color: #f59e0b;
  --secondary-color: #ea580c;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-container {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 8fr 0.75fr /1fr;
  background-color: rgb(178, 176, 176);
}
button:hover {
  cursor: pointer;
}
/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--bgc1);
  color: wheat;
  font-family: "Lora", serif;
}
/*logo*/
.logoContainer {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.logo {
  width: 40px;
  height: auto;
}
/*search bar*/
.inputContainer {
  margin-right: auto;
  width: max(40%, 25rem);
  position: relative;
  display: flex;
  align-items: center;
}
#searchBar {
  width: 100%;
  height: 100%;
  outline: none;
  border: 3px solid var(--main-color);
  border-radius: 0.2rem;
}
#search {
  position: absolute;
  background-color: var(--secondary-color);
  right: 0;
  height: calc(-6px + 100%);
  width: 15%;
  box-sizing: content-box;
  border: 3px solid var(--secondary-color);
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchIcon {
  width: 30px;
  height: auto;
}
/*C to F & reverse*/
#changeTemp {
  margin-left: 1rem;
  width: min(12rem, 15%);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: black;
  font-size: x-large;
  font-family: monospace;
  scale: 100%;
}
#changeTemp:hover {
  background-color: var(--secondary-color);
  transform: scale(1.03);
  transition: transform 0.25s;
}
.bold {
  font-weight: 900;
}
.light {
  font-weight: 100;
}
main {
  width: 80%;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  place-self: center;
  grid-template: 6rem 1fr /1fr;
  background-color: var(--bgc2);
  border: 4px solid var(--main-color);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.todaysWeather {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  position: relative;
  border-bottom: 2px solid white;
}
.cityInfo {
  position: absolute;
  top: 0;
  left: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.icon {
  width: auto;
  height: 60px;
}
.cityInfoExtra {
  color: lightcyan;
  position: absolute;
  bottom: 5px;
  left: 1rem;
}
.weatherInfo {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.tempInfo,
.otherInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tempInfo {
  border-right: 2px solid white;
}
/*FOOTER*/
footer {
  background-color: var(--bgc1);
  color: white;
  font-family: "Satisfy", cursive;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.footerIcon {
  width: 20px;
  height: auto;
}
@media (max-width: 670px) {
  /*Changing the header styles*/
  header {
    display: flex;
    padding: 0.25rem;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logoContainer {
    margin-right: 0;
  }
  .inputContainer {
    width: 100%;
    height: 2.5rem;
  }
  #changeTemp {
    margin-left: 0;
    width: 40vw;
    height: 2rem;
    margin-bottom: 0.4rem;
  }
  .page-container {
    display: grid;
    grid-template: 1fr 5fr 0.75fr /1fr;
  }
  .weatherInfo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
  }
  .tempInfo,
  .otherInfo {
    padding: 0.25rem;
  }
  .tempInfo {
    border-right: none;
    border-bottom: 2px solid white;
  }
}
